<div class='container'>
  <h1>Your supplements</h1>
  <% if @intakes.present? %>
    <div class='intake_grid'>
      <% @intakes.each do |intake| %>
        <div class='intake_row text-md'>
          <div><%= intake.supplement.name %></div>
          <div><%= "#{intake.dose} #{intake.dose_unit}" %></div>
          <div><%= intake.time_of_day %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
