<div class='container'>
  <h1>Your supplements</h1>
  <% if @intakes.present? %>
    <div class='intake_grid'>
      <% @intakes.each do |intake| %>
        <div class='intake_row text-md'>
          <div><%= intake.supplement.name %></div>
          <div><%= "#{intake.dose * intake.times_per_period} #{intake.dose_unit} / #{intake.period}" %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
